body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    height: 100vh;
}

.header {
    display: Flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 55px;
    padding-right: 55px;
}

footer {
    display: inline-flex;
    flex: 0;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 40px;
    justify-content: center;
    align-content: center;
    font-size: 10px;
}

.top {
    background-color: #1F2937;
    justify-content: space-evenly;
    padding-bottom: 50px;

}

.header-links {
    display: flex;

    
}

.main-content {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 32px 20px 32px 20px;
}

.words {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 400px;
    order: -1;
}

.main-pic {

    height: auto;
    width: 100px;
    margin-top: 10;
    border: 1px solid blue;
    border-radius: 10px;
}

.pics {
    display: flex;
    padding: 30px;
    justify-content: center;
    gap: 40px;
    margin-top: -20px;
   
}

h1 {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 30px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.top-pic {
    margin-top: 25px;
    width: 300px;
    height: 150px;
}

ul {
    display: flex;
    gap: 10px;
   list-style: none;  
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    margin-top: -5px;
    width: 90px;
    height: 50px;
   background-color: #3882F6;
   border-radius: 25px;
   border-color: #3882F6;
   color: #E5E7EB;
}

.header {
    font-size: 18px;
    color: #E5E7EB;
}

h4 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.headerlogo {
    font-size: 24px;
    color: #F9FAF8;
}

.firstp {
    color: #F9FAF8;
}

.subtext {
    display: flex;
    justify-content: center;
    font-size: 8px;
    flex-wrap: wrap;
    margin-top: -5px;
    width: 100px;
}

.bottom {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-content: center;
    padding: 0px 90px 0px 90px;
    margin-bottom: 30px;
    font-style: italic;
}

.james {
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    text-align: justify;
}

.banner{
    display: flex;
    padding: 0px 50px 0px 50px;
    background-color: #3882F6;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 50px;
    justify-content: space-between;
    color: #E5E7EB;
}

.bannerwords {
    display: flex;
    flex-direction: column;
    order: -1;
}

.buttontwo {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: #3882F6;
    color: #E5E7EB;
    border: 1px solid white;
    padding: 0;
    margin: 0;
}

.bottombutton {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.topwords {
    font-size: 18px;
}

.bottomwords {
    margin-top: -10px;
    font-size: 10px;
    
}